.box {
  border: 1px solid black;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-img {
  width: 400px;
}

.main {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.win {
  border: 5px solid green;
}

.lose {
  border: 5px solid red;
}

.tie {
  border: 5px solid black;
}

@media screen and (max-width: 768px) {
  .box {
    width: 300px;
  }

  .item-img {
    width: 150px;
  }
}
